<%- include ./includes/header %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="page-header">

                </h1>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div style="border-radius:0" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Create Faculty</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-group" action="/faculty/create" method="post">
                            <label style="font-weight:500">Faculty Name:</label>
                            <input style="border-radius:0" type="text" class="form-control" name="name" required>
                            <input type="submit" style="margin-top:15px; float:right; border-radius:0" class=" btn btn-primary " value="Submit ">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="numberDepartment"></div>
                            </div>
                        </div>
                    </div>
                    <a href="/department/create">
                        <div class="panel-footer">
                            <span class="pull-left">Add New Department</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
            </div>
        </div>

    </div>

    <%- include ./includes/footer %>