<%- include ./includes/header %>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1 class="page-header">Register New Student</h1>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div style="border-radius:0" class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Student Form</h4>
                    </div>
                    <div class="panel-body">
                        <form class="form-group" action="/student/create" method="post">
                            <div class="row">
                                <div class="col-lg-6 col-sm-6">
                                    <label style="font-weight:500">First Name:</label>
                                    <input style="border-radius:0" type="text" class="form-control" name="firstName" required>
                                </div>
                                <div class="col-lg-6 col-sm-6">
                                    <label style="font-weight:500">Last Name:</label>
                                    <input style="border-radius:0" type="text" class="form-control" name="lastName" required>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label style="font-weight:500">Admission Number:</label>
                                    <input style="border-radius:0" type="text" class="form-control" name="admissionNumber" required>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label style="font-weight:500">Gender:</label>
                                    <select class="form-control" style="border-radius:0" name="gender" id="gender" required>
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <label style="font-weight:500">Faculty:</label>
                                    <select id="selectFaculty" style="border-radius:0" class="form-control" name="faculty" required>
                                            <option value="">Select Faculty</option>
                                    </select>
                                </div>
                                <div class="col-lg-6">
                                    <label style="font-weight:500">Department:</label>
                                    <select style="border-radius:0" class="form-control" name="department" id="selectDepartment" required>
                                            <option value="" selected disabled hidden>Select Department</option>
                                    </select>
                                </div>
                            </div>
                            <input type="submit" style="margin-top:15px; float:right; border-radius:0" class=" btn btn-primary " value="Create">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 ">
                <div class="panel panel-yellow">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="numberDepartment"></div>
                            </div>
                        </div>
                    </div>
                    <a href="/faculty/create" target="_blank">
                        <div class="panel-footer">
                            <span class="pull-left">Add New Faculty</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>
                <div class="panel panel-red">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-book fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge" id="numberDepartment"></div>
                            </div>
                        </div>
                    </div>
                    <a href="#">
                        <div class="panel-footer">
                            <span class="pull-left">Add New Department</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                            <div class="clearfix"></div>
                        </div>
                    </a>
                </div>

            </div>
        </div>

    </div>
    <script src="/scripts/student.js"></script>
    <%- include ./includes/footer %>