<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Serverless test</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <form action="https://alc2department.azurewebsites.net/api/test" method="GET">
            <label for="Faculty">Faculty:</label>
            <input type="text" name="faculty" id="faculty">
            <input type="submit" value="Submit">
        </form>
    </div>
</body>
</html>